section.portfolio
	.wrapper
		.col
			img(src="../assets/img/mac.png" alt="")

		.col
			h2
				|Portfolio
				span.red .
			h4 We are small, but strong team

			.descr No more pricing grids. No more fine print.Sending and receiving cash is free without gimmicks.
				p   The same debit card you use to buy coffee lets deposit money straight to your bank account.
			a.more(href='#')  more