section.team
	.wrapper
		.row1
			h2
				|Our team
				span.red .
			h3  They are big still friendly

		ul.row2
			li
				.col1(style='background-image:url(../assets/img/joey.png);')
				.col2
					h3 Lorem
					h4 Lorem ipsum dolor

					.descr
			li
				.col1(style='background-image:url(../assets/img/matt.png);')
				.col2
					h3 Lorem
					h4 Lorem ipsum dolor

					.descr
			li
				.col1(style='background-image:url(../assets/img/mike.png);')
				.col2
					h3 Lorem
					h4 Lorem ipsum dolor

					.descr

		a.more(href='#')  more
