section.top(style='background-image:url(../assets/img/photo.png);')
	.wrapper
		header
			a(href='#').logo
				p.logo_text Freelancer
			nav
				ul
					li
						a(href='#') work
					li
						a(href='#') portfolio
					li
						a(href='#') contact
					li
						a(href='#') about

					li.social
						a(href='#').tw
						a(href='#').fb
		.sloganCont
			h1 intelligence <br> is nothing without <br> ambition.
			h4 We’re small but impressive creative agency.

			a(href= '#').btn
				p.btn_text Read More


section.snippets
	.wrapper
		ul
			li
				h3
					| lorem ipsum
					span.red .
				.descr  You’re safe with us. The privacy and security of your financial information is our top priority.
				a.more(href='#') more
			li
				h3
					|lorem ipsum
					span.red .
				.descr No more pricing grids. No more fine print. Sending and receiving cash is free without gimmicks.
				a.more(href='#')  more
			li
				h3
					| lorem ipsum
					span.red .
				.descr The same debit card you use to buy coffee lets deposit money straight to your bank account.
				a.more(href='#')  more

